<meta property="fb:admins" n:if="$config->admins" content="{$config->admins}"/>
<meta property="fb:app_id" n:if="$config->appId" content="{$config->appId}"/>
<meta property="og:url" n:if="$config->url" content="{$config->url}"/>
<meta property="og:title" n:if="$config->title" content="{$config->title}"/>
<meta property="og:site_name" n:if="$config->siteName" content="{$config->siteName}"/>
<meta property="og:description" n:if="$config->description" content="{$config->description}"/>
<meta property="og:type" n:if="$config->type" content="{$config->type}"/>
<meta property="og:image" n:if="$config->image" content="{$config->image}"/>
<meta property="og:locale" n:if="$config->locale" content="{$config->locale}"/>
