<meta name="twitter:card" n:if="$config->card" value="{$config->card}">
<meta name="twitter:creator" n:if="$config->creator" value="{$config->creator}">
<meta name="twitter:title" n:if="$config->title" value="{$config->title}">
<meta name="twitter:description" n:if="$config->description" value="{$config->description}">
<meta name="twitter:image:src" n:if="$config->image" value="{$config->image}">
